workflows/Details to Document Generator.json
{
  "name": "Details to Document Generator",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Extract content from Claude's response\nconst claudeResponse = $input.first().json;\nconst content = claudeResponse.content[0].text;\nconst topic = $input.first().json.body?.topic || \"Details Document\";\nconst format = $input.first().json.body?.format || \"pdf\";\nconst currentDate = new Date().toLocaleDateString('en-US', { \n  year: 'numeric', \n  month: 'long', \n  day: 'numeric' \n});\n\n// Format content for better readability\nconst formattedContent = content\n  .replace(/\\n\\n/g, '</p><p>')\n  .replace(/\\n/g, '<br>');\n\nreturn {\n  json: {\n    topic: topic,\n    content: content,\n    formattedContent: formattedContent,\n    format: format,\n    date: currentDate,\n    filename: topic.replace(/[^a-z0-9]/gi, '_').toLowerCase()\n  }\n};"
      },
      "id": "aa953e77-6f5e-4d6f-bf2c-2b41a45d31b1",
      "name": "Extract & Format Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "format-condition",
              "leftValue": "={{ $json.format }}",
              "rightValue": "pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1d6888e8-a248-4932-ac96-e8816748087a",
      "name": "Check Format",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -16,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML for PDF\nconst item = $input.first().json;\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>${item.topic}</title>\n    <style>\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            line-height: 1.8;\n            padding: 60px;\n            max-width: 900px;\n            margin: 0 auto;\n            color: #333;\n            background: #fff;\n        }\n        h1 {\n            color: #1a1a1a;\n            border-bottom: 4px solid #3498db;\n            padding-bottom: 15px;\n            margin-bottom: 10px;\n            font-size: 32px;\n        }\n        .metadata {\n            color: #7f8c8d;\n            font-size: 14px;\n            margin-bottom: 40px;\n            font-style: italic;\n        }\n        .content {\n            font-size: 16px;\n            text-align: justify;\n        }\n        .content p {\n            margin: 20px 0;\n        }\n        h2 {\n            color: #2c3e50;\n            margin-top: 30px;\n            margin-bottom: 15px;\n            font-size: 24px;\n        }\n        h3 {\n            color: #34495e;\n            margin-top: 25px;\n            margin-bottom: 12px;\n            font-size: 20px;\n        }\n        .footer {\n            margin-top: 60px;\n            padding-top: 20px;\n            border-top: 2px solid #ecf0f1;\n            text-align: center;\n            color: #95a5a6;\n            font-size: 12px;\n        }\n    </style>\n</head>\n<body>\n    <h1>${item.topic}</h1>\n    <div class=\"metadata\">Generated on ${item.date}</div>\n    <div class=\"content\">\n        <p>${item.formattedContent}</p>\n    </div>\n    <div class=\"footer\">\n        Document generated automatically | ${item.date}\n    </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...item,\n    html: htmlContent\n  }\n};"
      },
      "id": "748b8afc-4b84-4c81-b5bf-651ea42643ad",
      "name": "Generate PDF HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Generate DOCX-compatible HTML\nconst item = $input.first().json;\n\nconst docxHtml = `\n<html xmlns:o=\"urn:schemas-microsoft-com:office:office\"\n      xmlns:w=\"urn:schemas-microsoft-com:office:word\"\n      xmlns=\"http://www.w3.org/TR/REC-html40\">\n<head>\n    <meta charset=\"utf-8\">\n    <title>${item.topic}</title>\n    <style>\n        body {\n            font-family: Calibri, sans-serif;\n            font-size: 11pt;\n            line-height: 1.6;\n        }\n        h1 {\n            font-size: 24pt;\n            font-weight: bold;\n            color: #1f4e78;\n            margin-bottom: 10pt;\n            border-bottom: 3pt solid #4472c4;\n            padding-bottom: 5pt;\n        }\n        .metadata {\n            font-size: 10pt;\n            color: #7f7f7f;\n            font-style: italic;\n            margin-bottom: 20pt;\n        }\n        p {\n            margin: 10pt 0;\n            text-align: justify;\n        }\n        h2 {\n            font-size: 16pt;\n            font-weight: bold;\n            color: #2e5c8a;\n            margin-top: 15pt;\n            margin-bottom: 8pt;\n        }\n    </style>\n</head>\n<body>\n    <h1>${item.topic}</h1>\n    <p class=\"metadata\">Generated on ${item.date}</p>\n    <div>\n        <p>${item.formattedContent}</p>\n    </div>\n</body>\n</html>\n`;\n\nreturn {\n  json: {\n    ...item,\n    docxHtml: docxHtml\n  }\n};"
      },
      "id": "cac420c5-1955-4f23-a874-f311a6566e64",
      "name": "Generate DOCX HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $json.filename }}.html"
        }
      },
      "id": "fd304daa-ef27-4c05-8710-744d598e3d6b",
      "name": "Convert to PDF Binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        0
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "options": {
          "fileName": "={{ $json.filename }}.doc"
        }
      },
      "id": "765f7169-8d89-4d08-a80c-6ee1b5026586",
      "name": "Convert to DOCX Binary",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        432,
        208
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"{{ $json.filename }}.html\""
              }
            ]
          }
        }
      },
      "id": "32f08554-cbb9-488b-92f5-6a5efa1bfad6",
      "name": "Respond with PDF",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/msword"
              },
              {
                "name": "Content-Disposition",
                "value": "attachment; filename=\"{{ $json.filename }}.doc\""
              }
            ]
          }
        }
      },
      "id": "3c308b37-a572-424a-9568-52100a70dd22",
      "name": "Respond with DOCX",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        656,
        208
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -848,
        112
      ],
      "id": "8b4cfb01-ecef-4f2d-9f2f-1e7c21b8deb8",
      "name": "When chat message received",
      "webhookId": "6ea504f3-503a-40cf-9dda-e7831100a616"
    },
    {
      "parameters": {
        "url": "={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -640,
        112
      ],
      "id": "6640feea-9a6d-4648-a354-dccc483d797c",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Extract & Format Content": {
      "main": [
        [
          {
            "node": "Check Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Format": {
      "main": [
        [
          {
            "node": "Generate PDF HTML",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate DOCX HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF HTML": {
      "main": [
        [
          {
            "node": "Convert to PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate DOCX HTML": {
      "main": [
        [
          {
            "node": "Convert to DOCX Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to PDF Binary": {
      "main": [
        [
          {
            "node": "Respond with PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to DOCX Binary": {
      "main": [
        [
          {
            "node": "Respond with DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Extract & Format Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d5174df-60b2-43a0-b237-4d41ec1cb649",
  "meta": {
    "instanceId": "fc8bd653bd955df4ad98b1ca0e1ecf383fad117acca015364bb1781d3b620deb"
  },
  "id": "bLsXu36QVfe87mKT",
  "tags": []
}